body {margin:0 auto;}
#serviceBar {
    text-align:right;
    width:99%;
    padding:5px;
    border-bottom:1px solid #555;
    font-size:8pt;
    font-family:sans-serif;
    color:white;
    background-color:#343538;
    /*background-image:url(../img/mmos.png);
    background-repeat: no-repeat;
    background-attachment:fixed;*/
}
#serviceBar a{color:white; text-decoration:underline; cursor:pointer;}
#editbar {
    width:99%;
    border-top:1px solid #555;
    border-bottom:1px solid #555;
    padding:5px;
    /*height:200px;*/
    text-align:justify;
}
#addmenu, #editwidget, #trash_config {
    text-align:right;
    width:305px;
    display:inline-block;
    vertical-align:text-top;
    border-left:2px solid #555;
    padding:2px;
}

#footer {
text-align:center;
width:99%; 
padding:5px;
border-top:1px solid #555;
font-size:8pt;
font-family:sans-serif;
}
#header {
/*width:99%;*/
margin:0px;
padding:5px;
padding-top:20px;
border-left:1px solid #555;
border-right:1px solid #555;
font-size:20pt;
font-family:sans-serif;
height:100px;
background-image:url(../img/backHead.jpg);
background-repeat: no-repeat;
/*background-attachment:fixed;*/
background-position: top right;
}
#header h1{
    font-size:20pt;
    font-family:sans-serif;
}
.headDescription {
font-size:9pt;
}
#container {
background:white;
margin: 0 auto;
width:960px;
font-size:10pt;
font-family:sans-serif;
}
.ui-widget{
margin:2px;
border: 1px solid #888;
padding:0;
font-size:9pt;
margin-bottom:5px;
display:inline-block;
vertical-align:text-top;
background-color:white;
}
.ui-widget[w="1"]{
width:300px;
padding:3px;
}
.ui-widget[w="2"]{
    width:610px;
padding:3px;
}
.wcol{
    display:inline-block;
    vertical-align:text-top;
    margin:2px;
    padding:0;
}
.wcol[w="1"]{
    width:305px;
}
.wcol[w="2"]{
    width:630px;
}

.ui-widget-header{
margin-top:0;
font-size:15px;
color:white;
padding:1.5px;
}

.row{
    border-top:1px solid #555;
	border-left:1px solid #555;
	border-right:1px solid #555;
}
a{
    color:blue;
    text-decoration:underline;
}

/* Blog styles */
blockquote{
background-image:url(../img/icons/quotes.png);
background-repeat:no-repeat;
background-position:center left;
padding-left:30px;
font-size:8pt;
font-style:italic;
min-height:30px;
}

.authorname{
font-variant:small-caps;
}

.blog-title{
font-weight:bold;
font-variant:small-caps;
padding-bottom:1px;
}

.listeningmusic{
background-image:url(../img/icons/music.png);
padding-left:20px;
padding-top:3px;
background-repeat:no-repeat;
background-position:center left;
text-decoration:none;
font-size:9pt;
}