body {margin:0 auto;}
#serviceBar {
text-align:right;
width:99%; 
padding:5px;
border-bottom:1px solid black;
font-size:8pt;
font-family:sans-serif;
background-image:url(../logo/mmos.png);
background-repeat: no-repeat;
background-attachment:fixed;
}
#footer {
text-align:center;
width:99%; 
padding:5px;
border-top:1px solid black;
font-size:8pt;
font-family:sans-serif;
}
#header {
/*width:99%;*/
margin:0px;
padding:5px;
padding-top:20px;
border-bottom:1px solid black;
font-size:20pt;
font-family:sans-serif;
height:100px;
background-image:url(../img/backHead.jpg);
background-repeat: no-repeat;
background-attachment:fixed;
background-position: top right;
}
.headDescription {
font-size:9pt;
}
#container {
background:white;
margin: 0 auto;

width:960px;
/*padding:5px;
padding-top:5px;*/
font-size:10pt;
font-family:sans-serif;
}
.widget{
border: 1.5px solid gray;
-moz-border-radius: 5px;
-webkit-border-radius: 5px; 
padding:2px;
font-size:9pt;
margin-bottom:5px;
display:inline-block;
}
.widget[w="1"]{
    width:300px;
}
.widget[w="2"]{
    width:610px;
}
.col{
    display:inline-block;
    margin:2px;
}
.colinner{
        display:inline-block;
}
.col[w="1"]{
    width:310px;
}
.col[w="2"]{
    width:630px;
}

b.title{
font-size:15px;
display:block;
font-variant:small-caps;
}
